<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="app">
        <header></header>
        <main>
            <section id="appcontainer">
                <div id="contactscontainer">
                    <div class="userspace">
                        <img src="./img/avatar_io.jpg" alt="idfoto">
                        <h3>Sofia</h3>
                        <div id="faicons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div id="notificationspace">
                        <i class="fa-regular fa-bell-slash"></i>
                        <div id="notificationtext">
                            <h2>Ricevi notifiche dai nuovi messaggi</h2>
                            <h3>attiva notifiche desktop</h3>
                        </div>
                    </div>
                    <div id="searchbar">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input v-model="text" placeholder="Cerca tra i contatti">

                    </div>

                    <div @click="selezionachat(indice)" v-for="(cards,indice) in contacts"
                        class="vueautomatedcard">
                        <img :src="cards.avatar" alt="">
                        <h2>{{cards.name}}</h2>
                        <h3></h3>
                        <span></span>
                    </div>
                </div>
                <div id="chatcontainer">
                    <div id="actualuser">
                        <img :src="contacts[conversazioneattiva].avatar" alt="">
                        <h2>{{contacts[conversazioneattiva].name}}</h2>
                        <h3>Ultimo accesso alle:{{contacts[conversazioneattiva].messages[1].date}}
                        </h3>
                        <div id="containerfa">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <div class="chatspace">
                        <div id="chatflexbox" v-for="messaggio in contacts[conversazioneattiva].messages">
                            <!--i messaggi che voglio saranno quelli dell'indice che mi darà conversazioneattiva una volta premuto con click-->
                            <h2 v-if="messaggio.status == 'sent'" class="messagesent">{{messaggio.message}}</h2>
                            <h2 v-else class="messagereceived">{{messaggio.message}}</h2>
                        </div>
                       
                    </div>

                    <div id="responsebar">
                        <button><i class="fa-regular fa-face-smile"></i></button>
                        <input v-model="text" @keyup.enter="inseriscimessaggio" placeholder="Scrivi un messaggio...">
                        <button><i class="fa-solid fa-microphone"></i></button>
                    </div>
                </div>
            </section>
        </main>
    </div>











    <script src="main.js"></script>
</body>

</html>